# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

.idea

### Ansible ###
*.retry
.terraform/

**/output/*

# End of https://www.toptal.com/developers/gitignore/api/ansible

/src/vars/local.yml