# only manual
trigger: none
pr: none

parameters:
  - name: 'domain_name'
    displayName: 'Domain name'
    type: string
  - name: 'product_name'
    displayName: 'Product name'
    type: string
  - name: 'vnet_name'
    displayName: 'VNet name tf variables allowed'
    type: string
  - name: 'vnet_rg_name'
    displayName: 'VNet resource group name. tf variables allowed'
    type: string
  - name: 'include_postgresql'
    displayName: 'Include Postgres in the domain build'
    type: boolean
    default: false
  - name: 'tag_source'
    displayName: 'Terraform expression defining where to retrieve tags from'
    type: stirng
    default: 'module.tag_config.tags'
  - name: 'log_analytics_ws_name'
    displayName: 'Log analytics workspace name'
    type: stirng
  - name: 'log_analytics_ws_rg_name'
    displayName: 'Log analytics workspace RG name'
    type: stirng
  - name: 'include_tag_config_module'
    displayName: 'Use tag_config module to retrieve tags'
    type: boolean
    default: true
  - name: 'monitor_rg_name'
    displayName: 'Azure monitor RG name'
    type: string
  - name: 'monitor_action_group_slack_name'
    displayName: 'Action group slack name'
    type: string
  - name: 'monitor_action_group_email_name'
    displayName: 'Action group email name'
    type: string
  - name: 'monitor_action_group_opsgenie_name'
    displayName: 'Action group opsgenie name'
    type: string
  - name: 'is_dev_public'
    displayName: 'True if the dev environment is open to internet'
    type: boolean
    default: false

resources:
  repositories:
    - repository: ansible
      type: github
      name: pagopa/payment-cloud-domain-builder
      ref: refs/heads/main
      endpoint: "io-azure-devops-github-ro" #fixme

stages:
    - stage: 'domain-builder'
      displayName: 'Domain Builder Stage'
      jobs:
      - job: 'domain-builder-job'
        displayName: 'Domain Builder Job'
        pool:
        vmImage: 'ubuntu-latest'
        steps:
        - checkout: self # product repository
        - checkout: ansible # domain builder ansible repository
        - script: |
            echo "installing Ansible"
            python3 -m pip install --include-deps ansible
            
            echo "switching to ansible folder"
            cd ansible
            
            echo "Building domain $(domain-name) for product: $(product-name)"
            ansible-playbook -i ansible/inventory/hosts ansible/playbooks/domain-builder.yml \
              --extra-vars "domain_name=$(domain-name) product_name=$(product-name) vnet_name=$(vnet-name)"
            
            # get output files from ansible
            
            cd ../CurrentRepo
            git co -b "domain-builder-$(domain-name)-$(Build.BuildId)"
            echo "Copying output files to the current repository"
            cp -r ../ansible/output/* .
            # fixme filtrare file vuoti
            git commit -am "Domain $(domain-name) built for product: $(product-name)"
            git push --set-upstream origin "domain-builder-$(domain-name)-$(Build.BuildId)"
            echo "Domain $(domain-name) build completed and pushed to branch domain-builder-$(domain-name)-$(Build.BuildId)"

          displayName: 'Build Domain'