microservice-chart:
  namespace: "shared"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: ghcr.io/pagopa/payment-cloud-domain-builder/frontend
    tag: "sha-8b2849e"
    pullPolicy: Always
  # https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/HostController.cs
  livenessProbe:
    httpGet:
      path: /api/github-dispatch
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 12
    periodSeconds: 20
  readinessProbe:
    httpGet:
      path: /api/github-dispatch
      port: 8080
    initialDelaySeconds: 120
    failureThreshold: 12
    periodSeconds: 20
  deployment:
    create: true
    replicas: 1
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weudev.shared.internal.dev.platform.pagopa.it"
    path: /domain-builder(/|$)(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: "shared-workload-identity"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "64Mi"
      cpu: "0.05"
    limits:
      memory: "128Mi"
      cpu: "0.10"
  autoscaling:
    enable: false
    minReplica: 1
    maxReplica: 1
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  envConfig:
  envSecret:
    GITHUB_TOKEN: 'payments-cloud-github-bot-pat'
    CONTEXT_ROOT: '/domain-builder'
  keyvault:
    name: "pagopa-d-shared-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  canaryDelivery:
    deployment:
      image:
        tag: "0.0.0"
    create: false
